{{#partial "content"}}
    <div id="pap">
        <section class="new-animal-cont">

               <div class="card">
                   <div class="card-body pom">
                       <section class="normal-species " >
                           <h3 class="bom">Normal Animal</h3>
                           <form action="/new/animal" method="post">
                               <input type="text" name="id" class="bom" placeholder="Animal Id" required>
                               <input type="text" name="name" class="bom" placeholder="Name" required>
                               <button type="submit" class="btn-success"><a href="/new/animal">ADD</a></button>
                           </form>

                       </section>
                   </div>
               </div>
        </section>
    </div>
{{/partial}}
{{> layout.hbs}}
