{{#partial "content"}}

    <section class="success-cont">
        <div class="success">
            {{#if}}
                <p class="mob">ID: {{Animal.id}}</p>
                <p class="mob">Name: {{Animal.name}}</p>
                <p class="mob">TYPE: {{Animal.type}} <br> Animal Added Successfully</p>
            {{/if}}
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}